{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.cf.cloud.ibm.com",
      "Org": "harshithhh090@gmail.com",
      "Space": "dev"
    },
    "Name": "Harshit",
    "Instrumentation": {
      "domain": "eu-gb.mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}